<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header>
      <div class="logo-img">
        <img src="/img/logo2.jpg" alt="" />
      </div>
      <nav>
        <ul>
          <li><a href="#">Nosotros</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="#">Contactanos</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div class="img-section">
        <img src="/img/home1.jpg" alt="" />
      </div>
    </section>
    <footer>
      <div class="copy">
        <p>&copy; Copyright Mayerly ❤️ Made in Medellin</p>
      </div>
    </footer>
  </body>
</html>
