<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Iniciar sesion</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section class="form-login">
      <h5>Iniciar sesion</h5>
      <form action="/login" method="POST">
        <input
          class="controls"
          type="email"
          name="email"
          placeholder="Usuario"
        />
        <input
          class="controls"
          type="password"
          name="contrasena"
          placeholder="Contraseña"
        />
        <button type="submit">Ingresar</button>
      </form>

      <p><a href="#">¿Olvidaste tu Contraseña</a></p>
    </section>
  </body>
</html>
